#Postgres database config
POSTGRES_DB = postgres-database-name
POSTGRES_USER = postgres-database-user
POSTGRES_PASSWORD = postgres-database-password
DATABASE_URL = "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"

# pgAdmin config
PGADMIN_DEFAULT_EMAIL = pgadmin-email
PGADMIN_DEFAULT_USER = pgadmin-user
PGADMIN_DEFAULT_PASSWORD = pgadmin-password

#Seeds
EMAIL_DEMO= email-demo-user
ID_DEMO = id-demo-user
PASSWORD_DEMO =  password-demo-user

# Resend
RESEND_API_KEY=re_123456789

#Better auth
BETTER_AUTH_SECRET = better-auth-secret
BETTER_AUTH_URL= http://localhost:4321
PUBLIC_BETTER_AUTH_URL = http://localhost:4321
# BETTER_AUTH_URL = https://short.emaconor.site
# CALLBACK_URL_GITHUB = https://short.emaconor.site/api/auth/callback/github
GITHUB_CLIENT_ID = client-id-for-github-auth
GITHUB_CLIENT_SECRET = client-secret-for-github-auth