---
import Layout from '@/layouts/Layout.astro'
import { db } from '@/db/index'
import { shortUrl } from '@/db/schema/index'
import { eq } from 'drizzle-orm'

const { code } = Astro.params

if (!code) {
  return Astro.redirect('/')
}

const result = await db.select().from(shortUrl).where(eq(shortUrl.code, code)).limit(1)

if (result.length === 0) {
  return Astro.redirect('/404')
}

if (!result[0].isActive) {
  return Astro.redirect('/404')
}

if (result[0].isProtected) {
  const hasAccess = Astro.cookies.has(`access_grant_${code}`);
  if (!hasAccess) {
    return Astro.redirect(`/verify/${code}`);
  }
}

if (result[0].isDirect) {
  const urlDestino = result[0].fullUrl;
  return Astro.redirect(urlDestino);
}

const urlDestino = result[0].fullUrl
---

<Layout title="Espera unos segundos...">
  <header class="relative z-10 border-b border-white/5 shadow-lg backdrop-blur-xl">
    <div class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4">
      <div class="flex items-center gap-2">
        <a transition:name="linkMaster" href="/" class="text-xl">LinkMaster</a>
      </div>
      <div class="flex items-center gap-3">
        <button
          id="btn-wait"
          class="cursor-not-allowed rounded-md bg-slate-700 px-4 py-2 font-mono text-slate-300"
        >
          Espera <span id="countdown">5</span>s
        </button>
        <a
          id="btn-continue"
          href={urlDestino}
          class="hidden items-center rounded-xl bg-linear-to-r from-purple-500 to-blue-500 px-5 py-2 shadow-lg shadow-purple-500/25 transition-all hover:from-purple-600 hover:to-blue-600"
        >
          Continuar<i class="ti ti-arrow-right pl-2"></i>
        </a>
      </div>
    </div>
  </header>

  <main class="relative z-10 mx-auto max-w-6xl px-6 pt-8 pb-32 text-center sm:pt-15">
    <div
      class="group relative mb-8 h-110 w-full items-center justify-center overflow-hidden rounded-xl border-2 border-dashed border-white/10 bg-[#1e293b] shadow-xl/10"
    >
      <div class="absolute inset-0 bg-linear-to-br from-purple-500/10 to-blue-500/10"></div>
      <div class="min-h-62.5 w-full items-center justify-center"></div>
    </div>
  </main>
</Layout>

<script>
  const countdownSpan = document.getElementById('countdown')
  const btnWait = document.getElementById('btn-wait')
  const btnContinue = document.getElementById('btn-continue')

  let segundos = 5

  const intervalo = setInterval(() => {
    segundos--

    if (countdownSpan) countdownSpan.innerText = segundos.toString()

    if (segundos <= 0) {
      clearInterval(intervalo)

      if (btnWait) btnWait.classList.add('hidden')
      if (btnContinue) {
        btnContinue.classList.remove('hidden')
      }
    }
  }, 1000)
</script>
