---
import { Filter, Search} from '@/icons'
import UrlFormUser from './UrlFormUser.astro'

import { db } from '@/db'
import { shortUrl, tag } from '@/db/schema'
import { type SQL, eq, and, like, or } from 'drizzle-orm'
import LinksTable from './LinksTable.astro'
const { user } = Astro.locals
if (!user) throw new Error('User is required')

const conditions = [eq(shortUrl.userId, user.id)]

const searchParam = Astro.url.searchParams.get('q') || ''
const filterParam = Astro.url.searchParams.get('filter') || 'all'

if (searchParam){
  const searchFilter = or(
    like(shortUrl.fullUrl, `%${searchParam}%`), 
    like(shortUrl.code, `%${searchParam}%`)
  );
  if (searchFilter) {
    conditions.push(searchFilter);
  }
}

const links = await db.select().from(shortUrl).where(and(...conditions))

const activeLinks = links.filter((link) => link.isActive).length
const tags = await db.select().from(tag).where(eq(tag.userId, user.id))
---

<main class="mt-8 w-full space-y-6 p-8 md:mt-0">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="mb-2 text-3xl">Dashboard</h1>
      <p class="text-slate-400">Maneja tus links acortados</p>
    </div>
  </div>

  <UrlFormUser/>
  <div id="links-table-container">
    <h1 class="mt-10 mb-4 text-2xl text-slate-400">Links recientes (5)</h1>
    <LinksTable limit={5}/>
  </div>
  
</main>
